# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
*.iml
.idea/
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env

# PostgreSQL dump and local config
*.sql
*.pgsql
*.db
*.backup

# Spring Boot
*.war
*.jar

# Sensitive
src/main/resources/application.properties
src/main/resources/application.yml
