<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Create Activity</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/activity/{eventId}/create(eventId=${eventId})}"
                  th:object="${activity}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                th:field="*{name}"
                                placeholder="Activity name">
                        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="speaker">Speaker</label>
                        <input
                                type="text"
                                class="form-control"
                                id="speaker"
                                th:field="*{speaker}"
                                placeholder="Speaker">
                        <p th:if="${#fields.hasErrors('speaker')}" class="text-danger" th:errors="*{speaker}"></p>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="startTime">Start Time</label>
                    <input
                            type="datetime-local"
                            class="form-control"
                            id="startTime"
                            th:field="*{startTime}"
                            placeholder="Start Time">
                    <p th:if="${#fields.hasErrors('startTime')}" class="text-danger" th:errors="*{startTime}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="endTime">End Time</label>
                    <input
                            type="datetime-local"
                            class="form-control"
                            id="endTime"
                            th:field="*{endTime}"
                            placeholder="End Time">
                    <p th:if="${#fields.hasErrors('endTime')}" class="text-danger" th:errors="*{endTime}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>
